.intro-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 0;
  align-items: center;
  text-align: center;
}

.typed-line {
  font-size: 24px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  white-space: pre-wrap;
  line-height: 1.4;
  position: relative;
}

.cursor {
  display: inline-block;
  // width: 1px;
  background-color: white;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
  font-size: 16px;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}
